body {
	background-color:white;
	font-family: 'Exo 2';
}


/* INDEX -  MENU ----------------------- */

.container-fluid {
	margin-top: 10px;
	margin-bottom: 12px;
}

.navbar {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4px;
	padding: 0px;
}

.navbar-brand{
	padding: 0px;
	margin: 0px;

}

.navbar-collapse {
    flex-grow: 0;
}


/*
background-image: url("../imagenes/logo2.png");
	width: 220px;
	height: auto;
	background-repeat: no-repeat;
*/


/*
#logo2{
	background-image: url("../imagenes/logo2.png");
	width: 200px;
    position: absolute;
    left: 15px;
    top: 15px;
    filter: opacity(0);
    transition: 0.3s;
}

#logo2:hover{
    filter: opacity(1);

}

#navbarText {
    justify-content: flex-end!important;
}

*/


/* INDEX - IMAGENES ------------------- */

.fondo__container {
	position: relative;
  }
  
.fondo__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	
 }

.fondo__container:hover .fondo__overlay {
	opacity: 0;

}

.fondo__container:hover {
	transition: 0.3s;	
	filter: invert(100%);

}

.indexTitulo {
	font-size: 30px;
	color: rgb(70, 70, 70);
	margin-top: 150px;
	margin-bottom: 150px;
	word-spacing: 20px;
	letter-spacing: 5px;
	text-align: center; 
}

.imagenes__container {
	position: relative;
  }
  
.imagenes__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #1a1a1a;
 }


.imagenes__container:hover .imagenes__overlay {
	opacity: 0.7;
	
}

.imagenes__container:hover {
	transition: 0.3s;
}
  
.imagenes__text {
	color:white;
	font-size: 25px;	
	font-weight: bold;
	letter-spacing: 11px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.row>* {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	margin: 0px;
	padding: 0px;
}



/* SERVICIOS --------------------------- */

.container {
	margin-top: 200px;
}

.container__listas {
	padding: 50px;
	color: rgb(80, 80, 80);
}

.container__titulos {
	font-size: 30px;
	margin: 20px;
	color: rgb(70, 70, 70);
}

.container__subtitulos {
	font-size: 18px;
}

.container__izquierda {
	background-color: rgb(252, 252, 252);
}

.container__derecha {
	background-color: white;
}

/* SUCURSALES -------------------------- */

.fondo4__container {
	position: relative;
  }
  
.fondo4__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	
 }


.fondo4__container:hover .fondo4__overlay {
	opacity: 0;

}

.fondo4__container:hover {
	transition: 0.2s;	
	filter: invert(100%);

}

.accordion-item {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.accordion-body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: start;
	align-items: baseline;
}

.mapas {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.mapas__titulos {
	font-size: 20px;
	margin: 100px 0px;
	text-align: center;
	width: 90%;
}

/* NOSOTROS ---------------------------- */

#sliding-container {
	display: flex;
	overflow: hidden;
}

#sliding-container figure {
	position: relative;
	flex: 1;
	margin: 0;
	overflow: hidden;
}

#sliding-container img {
	transition: 15s ease-in-out;
}

#sliding-container figure:first-of-type:hover img {
	transform: translateX(-50%);
}

#sliding-container figure:last-of-type img:nth-child(1) {
	width: 220%;
	height: auto;
}

.nosotros {	
	display: flex;
}


video {
	filter:
		contrast(200%)
		grayscale(200%);
	overflow: hidden;
	width: 293px;
	box-shadow: 5px 5spx 75px rgb(100, 100, 100);

	margin-bottom: 0px;


}

.nosotros__texto {
	width: 75%;
  text-align: justify;
}

.nosotros__subtitulo {
	font-size: 29px;
	margin-bottom: 30px;
}

.nosotros__parrafo {
	margin-top: 30px;
	font-size: 16px;

}


/* CONTACTO - FORMULARIO --------------- */

.fondo2__container {
	position: relative;
  }
  
.fondo2__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	
 }


.fondo2__container:hover .fondo2__overlay {
	opacity: 0;

}

.fondo2__container:hover {
	transition: 0.2s;	
	filter: grayscale(100%);

}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	margin-bottom: 50px;

}

.form__email {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-select {
	width: auto;
	padding: 0px;
}

.form__legend {
	font-size: 18px;
	margin-top: 30px;
}

.form-check {
	margin: 40px;
}

.form-floating {
	margin-bottom: 20px;
}


/* FOOTER ----------------------------- */

footer {
	color: black;
	font-size: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
	padding: 20px;
}

footer p {
	margin: 10px;
	font-size: 13px;
	display: flex;
	align-items: center;
}

.header__iconos {
	display: flex;
	align-items: center;
	margin-right: 35px;
}

.logoFb {
	margin: 20px;
}
.logoMail {
	margin: 10px;
}


/* XTRAS ------------------------------ */


h1 {
	font-size: 30px;
	color: rgb(70, 70, 70);
	margin-top: 150px;
	margin-bottom: 150px;
	letter-spacing: 22px;
	text-align: center; 
}
