body {
	background-color:white;
	font-family: 'Exo 2';
}


/* INDEX -  MENU --------------------- */

.container-fluid {
	margin-top: 10px;
	margin-bottom: 12px;
}

.navbar {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4px;
	padding: 0px;
}

.navbar-brand{
	padding: 0px;
	margin: 0px;
	transition-property: all;
	transition-duration: 300ms;
	
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}


/*
#logo1 {
    position: absolute;
    left: 15px;
    top: 15px;
}

#logo1:hover{
    display: none;
}

#logo2{
    position: absolute;
    left: 15px;
    top: 15px;
    filter: opacity(0);
    transition: 0.3s;
}

#logo2:hover{
    filter: opacity(1);
}

#navbarText {
    justify-content: flex-end!important;
}
*/



/* INDEX - IMAGENES -------------------- */


.indexTitulo {
	font-size: 30px;
	color: rgb(70, 70, 70);
	margin-top: 150px;
	margin-bottom: 150px;
	word-spacing: 20px;
	letter-spacing: 5px;
	text-align: center; 
}

.imagenes__container {
	position: relative;
  }
  
.imagenes__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #1a1a1a;
 }
  


.imagenes__container:hover .imagenes__overlay {
	opacity: 0.7;
	
}

.imagenes__container:hover {
	transform: scale(1.05 ,1.05);
	transition: 0.3s;
}
  
.imagenes__text {
	color:white;
	font-size: 20px;	
	letter-spacing: 11;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.row>* {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	margin: 0px;
	padding: 0px;
}



/* SERVICIOS ----------------------------- */

.container {
	margin-top: 200px;
}

.container__listas {
	padding: 50px;
	color: rgb(80, 80, 80);
}

.container__titulos {
	font-size: 30px;
	margin: 20px;
	color: rgb(70, 70, 70);
}

.container__subtitulos {
	font-size: 18px;
}

.container__izquierda {
	background-color: rgb(252, 252, 252);
}

.container__derecha {
	background-color: white;
}

/* SUCURSALES ----------------------------- */

#grilla > * {
	border: 3px solid white;
}

#grilla {	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 70%;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 100px;
	background-color: rgb(252, 252, 252);
	padding: 10px;
	color: rgb(100, 100, 100);
}

.sucursales__grilla {
	grid-column-gap: 10px;
	grid-row-gap: 5px;
}

.mapas {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.mapas__titulos {
	font-size: 20px;
	margin: 100px 0px;
	text-align: center;
	width: 90%;
}

/* NOSOTROS ------------------------------ */

#sliding-container {
	display: flex;
	overflow: hidden;

}

#sliding-container figure {
	position: relative;
	flex: 1;
	margin: 0;
	overflow: hidden;
}

#sliding-container img {
	transition: 15s ease-in-out;
}

#sliding-container figure:first-of-type:hover img {
	transform: translateX(-50%);
}

#sliding-container figure:last-of-type img:nth-child(1) {

	width: 4212px;
	height: 857px;
}


.nosotros {
	background-color: white;
	justify-content: center;
	padding: 50px;

	margin-top: 70px;
	margin-bottom: 70px;
}

.nosotros__subtitulo {
	font-size: 20px;
	text-align: center;
}

.nosotros__parrafo {
	font-size: 16px;
}

/* CONTACTO - FORMULARIO ----------------- */

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.col-sm-3 {
	display: flex;
	flex-direction: column;
	margin: 20px;
	margin-left: 0px;
}

.form-select {
	justify-content: center;
	width: auto;
}


.form__legend {
	font-size: 17px;
	margin: 30px;
	margin-left: 0px;
	margin-bottom: 30px;
}

.form__span {
	display: flex;
	flex-direction: column;
	width: auto;
}

.col-sm-10 {
	justify-content: center;
}

.form-check {
	margin: 20px;
}

.form__textArea {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.form-check {
	margin-bottom: 20px;
}

/* FOOTER --------------------------- */

footer {
	color: black;
	font-size: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
	padding: 20px;
}

footer p {
	margin: 10px;
	font-size: 13px;
	display: flex;
	align-items: center;
}

.header__iconos {
	display: flex;
	align-items: center;
	margin-right: 35px;
}

.logoFb {
	margin: 20px;
}
.logoMail {
	margin: 10px;
}


/* XTRAS -------------------- */


h1 {
	font-size: 30px;
	color: rgb(70, 70, 70);
	margin-top: 150px;
	margin-bottom: 150px;
	letter-spacing: 22px;
	text-align: center; 
}
