$texto_titulos: black;
$texto_subtitulos: grey;
$texto_parrafos: dark-grey;

$fondo_web: white;
$fondo_box: grey;



.row>* {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px; 

}

/* -------------------------- */

#sliding-container {

	display: flex;
	overflow: hidden;
}

#sliding-container figure {

	position: relative;
	flex: 1;
	margin: 0;
	overflow: hidden;
}

#sliding-container img {

	transition: 15s ease-in-out;
}

#sliding-container figure:hover img {

	transform: translateX(-50%);
}

#sliding-container figure img {

	width: 220%;
	height: auto;
}


@if $fondo_web == white {

	.nosotros {	

		display: flex;
		background-color: $fondo_web;

	 } 	

}


video {

	filter:
		contrast(200%)
		grayscale(200%);
	overflow: hidden;
	width: 293px;
	box-shadow: 1px 1px 30px  rgb(100, 100, 100);

}

.nosotros__texto {

	width: 75%;
	text-align: justify;
}

@if $texto_titulos == black {

	h1 {	

		color: $texto_titulos;
		font-size: 30px;
		color: rgb(70, 70, 70);
		margin-top: 150px;
		margin-bottom: 150px;
		letter-spacing: 22px;
		text-align: center; 

	 } 	

}

@if $texto_subtitulos == grey {

	.nosotros__subtitulo {
		color: $texto_subtitulos;
		font-size: 29px;
		margin-bottom: 30px;

	}

}	

@if $texto_parrafos == dark-grey {

	.nosotros__parrafo {		
		color: $texto_parrafos;
		margin-top: 30px;
		font-size: 16px;

	}

}

footer {

	color: $texto_titulos;
	font-size: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}


footer p {
	margin: 20px;
	font-size: 13px;
	align-items: center;
	
}

.footer__iconos {
	margin: 20px;

}

.logoFb {
	margin: 20px;

}

.logoMail {
	margin: 20px;

}